$arwColor:rgba(0,0,0,0.3);
$bgheader:rgba(0,0,0,0.2);
$bgslider:rgba(0,0,0,0.7);
$sliderWidth:710px;
$center: 0 auto;

@mixin arrow($dir,$size){
	@if $dir == left {
		border-right: $size solid $arwColor;
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		position:absolute;
		display:block;
	}
	@if $dir == right {
		border-left: $size solid $arwColor;
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;	
		position:absolute;
		display:block;
	}
}
/* @function bgImage($folder,$imgName,$data,$rpt){
	@return url("../$folder/$imgName.jpg") repeat
} */

*{
	margin:0;
	padding:0;
}
body{
	font-size:100%;
	font-family:Arial,sans-serif;
	font-style:italic;
	background: url("../jpg/background.jpg") repeat;
}
.header{
width: 100%;
background:$bgheader;
box-shadow: inset 0px -2px rgba(0,0,0,0.4);
border: 1px solid rgba(0,0,0,0.2);
margin:0;
position:fixed;
top:0;
left:0;
height: 80px;
	h1{
	line-height: 80px;
	margin-left: 23px;
	text-shadow: 2px 3px 3px rgba(0,0,0,0.2);
	}
}
.container{
width:90%;
margin: $center;
margin-top: 120px;
	.frame{
	position:relative;
	background:$bgslider;
	border-radius:10px;
	width:$sliderWidth;
	height: 400px;
	margin:$center;
	margin-top:10px;
	box-shadow: 2px 4px 6px rgba(0,0,0,0.4);
		.slider{
		overflow:hidden;
		width: 676px;
		height: 360px;
		padding: 20px 0;
		margin: 0 17px;
			.imageSlider{
			margin:0;
			height:inherit;
			width:5000px;
				li{
				list-style:none;
				float:left;
					img{
					width:676px;
					height:360px;
					}
				}
			} 
		}
	}
	//arrows
	.left{
	@include arrow(left,50px); 
	left: -55px;
	top:150px;
	}
	.right{
	@include arrow(right,50px); 
	top:150px;
	left: 715px;
	}
	.right:hover{
		border-left-color: rgba(0,0,0,0.9);
		cursor:pointer;
	}.left:hover{
		border-right-color: rgba(0,0,0,0.9);
		cursor:pointer;
	}
	//imagelist
	
	.feature{
	background:$bgslider;
	width:$sliderWidth;
	margin:$center;
	height:84px;
	border-radius:5px;
		.imageList{
		width:676px;
		margin:$center;
		height:70px;
		padding-top:7px;
			li{
			display:block;
			float:left;
			line-height: 70px;
			text-indent: -9999px;
			transition:border-bottom 1s linear;
			cursor:pointer;
			}
		}
	}
	@for $i from 1 through 5{
		.image#{$i}{background:url("../jpg/#{$i}.jpg") no-repeat;width:20%;background-size:135px 70px;}
	}
	//add-on classes
	.active{border-bottom:7px solid #ff0000;}
}//end of container







