/* @function bgImage($folder,$imgName,$data,$rpt){
	@return url("../$folder/$imgName.jpg") repeat
} */
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 100%;
  font-family: Arial,sans-serif;
  font-style: italic;
  background: url("../jpg/background.jpg") repeat; }

.header {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -2px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px; }
  .header h1 {
    line-height: 80px;
    margin-left: 23px;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2); }

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 120px; }
  .container .frame {
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 710px;
    height: 400px;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4); }
    .container .frame .slider {
      overflow: hidden;
      width: 676px;
      height: 360px;
      padding: 20px 0;
      margin: 0 17px; }
      .container .frame .slider .imageSlider {
        margin: 0;
        height: inherit;
        width: 5000px; }
        .container .frame .slider .imageSlider li {
          list-style: none;
          float: left; }
          .container .frame .slider .imageSlider li img {
            width: 676px;
            height: 360px; }
  .container .left {
    border-right: 50px solid rgba(0, 0, 0, 0.3);
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    display: block;
    left: -55px;
    top: 150px; }
  .container .right {
    border-left: 50px solid rgba(0, 0, 0, 0.3);
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    display: block;
    top: 150px;
    left: 715px; }
  .container .right:hover {
    border-left-color: rgba(0, 0, 0, 0.9);
    cursor: pointer; }
  .container .left:hover {
    border-right-color: rgba(0, 0, 0, 0.9);
    cursor: pointer; }
  .container .feature {
    background: rgba(0, 0, 0, 0.7);
    width: 710px;
    margin: 0 auto;
    height: 84px;
    border-radius: 5px; }
    .container .feature .imageList {
      width: 676px;
      margin: 0 auto;
      height: 70px;
      padding-top: 7px; }
      .container .feature .imageList li {
        display: block;
        float: left;
        line-height: 70px;
        text-indent: -9999px;
        transition: border-bottom 1s linear; }
  .container .image1 {
    background: url("../jpg/1.jpg") no-repeat;
    width: 20%;
    background-size: 135px 70px; }
  .container .image2 {
    background: url("../jpg/2.jpg") no-repeat;
    width: 20%;
    background-size: 135px 70px; }
  .container .image3 {
    background: url("../jpg/3.jpg") no-repeat;
    width: 20%;
    background-size: 135px 70px; }
  .container .image4 {
    background: url("../jpg/4.jpg") no-repeat;
    width: 20%;
    background-size: 135px 70px; }
  .container .image5 {
    background: url("../jpg/5.jpg") no-repeat;
    width: 20%;
    background-size: 135px 70px; }
  .container .active {
    border-bottom: 7px solid #ff0000; }
